/* .square {
    width: 50px;
    height: 50px;
    background: #90C695;
}

.square2 {
    width: 50px;
    height: 50px;
    background: rgb(4, 255, 29);
} */

.square {
    width: 75px;
    height: 40px;
    position: relative;
    z-index: 2;
    border-bottom: solid 90px #99f;
    border-top: none;
    /* background: #90C695; */
}

.square2 {
    width: 160px;
    height: 60px;
    position: relative;
    z-index: 1;
    top: -120px;
    right: -10px;
    /* width: 1px;
    height: 1px; */
    /* border: solid 100px transparent; */
    border-bottom: solid 90px #000;
    border-top: none;
    /* background: rgb(4, 255, 29); */
}

.square3 {
    width: 100px;
    height: 100px;
    z-index: 2;
    left: 20px;
    background: rgb(145, 144, 198);
}

.rectangle {
    width: 250px;
    height: 150px;
    z-index: 1;
    top: -120px;
    background: #26A65B;
}

.texto {
    color: rgb(183, 183, 184)
}

.pequeno {
    font: 20px;
}

.bloco {
    width: 80px;
    height: 90px;
    /* padding: 5px 35px; */
    background: rgb(255, 0, 0);
    /* border-style: solid; */
    /* border-color: rgb(182, 182, 184); */
    margin: 0;
    /* auto;*/
    text-align: center;
    text
    /* border-style: outset; */
}